---

---

<footer
  class="w-full py-8 px-6 border-t border-gray-100 dark:border-neutral-900 mt-20"
  data-aos="focus-up"
  data-aos-offset="0"
>
  <div class="max-w-4xl mx-auto flex justify-center items-center">
    <p
      class="text-xs text-gray-400 dark:text-gray-600 font-product-sans flex items-center gap-2"
    >
      coded with ☕ + 🎧 by ajmal
      <a
        href="/dashboard"
        class="opacity-0 hover:opacity-100 transition-opacity ml-1">.</a
      >
    </p>
  </div>
</footer>
