---
//import styles
import "../styles/global.css";
//import sections
import MetaSection from "../components/MetaSection.astro";
import Loading from "../components/Loading.astro";
import NavbarSection from "../components/NavbarSection.astro";
import HeroSection from "../components/home/HeroSection.astro";
import AboutSection from "../components/home/AboutSection.astro";
import HighlightSection from "../components/home/HighlightSection.astro";
import ProjectSection from "../components/home/ProjectSection.astro";
import BlogSection from "../components/home/BlogSection.astro";
import ContactSection from "../components/home/ContactSection.astro";
import FooterSection from "../components/FooterSection.astro";
//import components
import CursorTracker from "../components/CursorTracker.astro";
---

<!doctype html>
<html lang="en" class="lenis lenis--smooth select-none overflow-x-hidden">
  <MetaSection
    title="Ajmal Razaq | Design Engineer"
    description="Portfolio of Ajmal Razaq - Frontend Developer and Junior Product Designer. Explore my projects and blog posts about web development and UI/UX design."
    type="website"
  />
  <body class="bg-black min-h-screen flex flex-col">
    <!-- Loading overlay -->
    <Loading />
    <!-- Cursor Tracker -->
    <CursorTracker />
    <!-- Navigation Bar -->
    <NavbarSection page="home" />
    <!-- Main Content -->
    <HeroSection />
    <!-- About Section -->
    <AboutSection />
    <!-- Highlight Bento: What I Can Do -->
    <HighlightSection />
    <!-- Featured Blog Section -->
    <ProjectSection />
    <!-- Featured Blog Section -->
    <BlogSection />
    <!-- Contact Section -->
    <ContactSection />
    <!-- Footer Section -->
    <FooterSection />
    <script type="module" src="/script.js"></script>
  </body>
</html>
