---
const { text, data_aos = "fade-up", data_aos_delay, aria_label = "Button" } = Astro.props;
---
<button
  class="flex gap-2 justify-center font-nixel border border-accent tracking-[1px] items-center text-white/80 cursor-none shadow-accent hover:shadow-lg bg-gradient-to-r to-black/0 rounded-full px-6 py-3 text-xl transition-all duration-300 ease-in-out hover:to-black/10 hover:scale-105 scroll-slide-in delayed-animation from-right"
  data-aos={data_aos}
  data-aos-delay={data_aos_delay}
  aria-label={aria_label}
>
  <slot />
  {text}
</button>