---
const { text, data_aos = "focus-up", data_aos_delay, aria_label = "Button" } = Astro.props;
---
<button
  class="flex gap-2 justify-center font-nixel border border-white/10 tracking-[1px] items-center text-white/80 cursor-none bg-black shadow-accent-x hover:shadow-accent-animate rounded-full px-6 py-3 text-xl transition-all duration-1000 linear scale-95 hover:scale-100 hover:text-white pixel-button"
  data-aos={data_aos}
  data-aos-delay={data_aos_delay}
  aria-label={aria_label}
  style="word-spacing: -7px;"
>
  <slot />
  {text}
</button>