<!-- Cursor Tracker -->
<div
  id="cursor-tracker"
  class="fixed w-4 h-4 rounded-xl pointer-events-none z-[9999] flex items-center border-2 border-white/10 backdrop-blur-2xl bg-accent justify-center"
  style="transform: translate(-50%, -50%)"
>
  <h1 class="font-nixel font-3xl" id="cursor-icon">a</h1>
</div>
