---

---

<footer
  class="w-full py-8 px-6 border-t border-gray-100 dark:border-neutral-900 mt-20"
>
  <div class="max-w-4xl mx-auto flex justify-center items-center">
    <p
      class="text-xs sm:text-sm text-gray-400 dark:text-gray-600 font-product-sans flex items-center gap-2"
    >
      © {new Date().getFullYear()} Ajmal Razaq <span
        class="text-gray-200 dark:text-neutral-800">•</span
      > made with ❤️ using astro
    </p>
  </div>
</footer>
