---
const { text } = Astro.props;
---

<h1
  class="sm:text-8xl text-6xl font-bold bg-clip-text font-nixel text-transparent tracking-[1px] text-center"
  data-aos="focus-up"
  aria-label="Heading: Who am I and what I do"
  style="background-image: linear-gradient(354deg, #A098FF -28.42%, #FFF 229.8%);word-spacing: -7px;"
>
  {text}
</h1>
