<div
  id="loading-overlay"
  class="fixed top-0 left-0 w-full h-full flex items-center justify-center z-[999] bg-black"
>
  <lottie-player
    src="/animations/loading.json"
    background="transparent"
    class="w-50"
    loop
    autoplay
    aria-hidden="true"
  >
  </lottie-player>
</div>
